<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"></button>
          <a class="navbar-brand" href="#"> <%=image_tag("banderas/mundial.jpg", :alt=>"image", :width=>150, :heigth=>80 )%> </a>
        </div>
       
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="_s0 headerTinymanPhoto _rw img" src="http://graph.facebook.com/<%=current_user.uid%>/picture", width="25", heigth="25"%>&nbsp&nbsp<strong><%= current_user.nombre %></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b class="caret"></b></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                    
                    <li>
                      <a href="signout">Salir</a>
                    </li>
                  </ul>
                </li>
              </ul>
              </div>
            </div>
          </div><br><br><br>
<h1>Lista de quinielas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quinielas.each do |quiniela| %>
      <tr>
        <th><button type="button"class="btn btn-default btn-sm"><%= link_to 'Show', quiniela %></button></th>
        <th><button type="button"class="btn btn-default btn-sm"><%= link_to 'Edit', edit_quiniela_path(quiniela) %></button></th>
        <th><button type="button"class="btn btn-default btn-sm"><%= link_to 'Destroy', quiniela, method: :delete, data: { confirm: 'Are you sure?' } %></button></th>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Quiniela', new_quiniela_path %>
