

<br><br><br>
<center>
	<h1><strong>Nueva Quiniela</strong></h1><br>

	<%= render 'form' %>
	<br>
	<%= link_to 'Back', quinielas_path %>

	
</center>

<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="quinielas" class="navbar-brand">Home</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"></button>
          <a class="navbar-brand" href="#"> <%=image_tag("banderas/mundial.jpg", :alt=>"image", :width=>150, :heigth=>80 )%> </a>
        </div>
       
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="_s0 headerTinymanPhoto _rw img" src="http://graph.facebook.com/<%=current_user.uid%>/picture", width="25", heigth="25"%>&nbsp&nbsp<strong><%= current_user.nombre %></strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b class="caret"></b></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>
                      <a href="Fase Grupos">Quiniela Empresa</a>
                    </li>
                    <li >
                      <a href="Octavos">Quiniela 1</a>
                    </li>
                    <li>
                      <a href="Cuartos">Quiniela 2</a>
                    </li>
                     <li class="divider"></li>
                     <li>
                      <a href="Nueva">Nueva Quniela</a>
                    </li>
                    <li>
                      <li class="divider"></li>
                    </li>
                    <li>
                      <a href="signout">Salir</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="dropdown-menu" arial-labelledby="themens">
                <li>
                  <img class="_s0 headerTinymanPhoto _rw img" src="https://graph.facebook.com/<%= current_user.uid%>/picture?width=42 height=45">
                </li>
                <ul>
                  <li>
                    <% if current_user %><strong><%=current_user.nombre%></strong><%= link_to "cerrar sesion", signout_path, id: "sign_out" %><% else %><%= link_to "Sing in with Facebook",  "/auth/facebook", id: "sign_in" %><% end %>
                    <li>
                      <a href="Quiniela1">Quiniela 1</a>
                      <li>
                        <a href="Qiniela2">Quiniela 2</a>
                      </li>
                      <li>
                        <a href="Quinielaempresa">Quniela Empresa</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="Nueva">Nueva quiniela</a>
                        <li class="divider"></li>
                        <li>
                          <a href="signout">Salir</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </div><br><br><br><br><br>
<div ALIGN=center>
<h1>New quiniela</h1>
<br>
<%= render 'form' %>
<br>
<br>

<button type="button" class="btn btn-default btn-sm"><%= link_to 'Back', quinielas_path %></button>
</div>

